@font-face {
  font-family: "Gramatika";
  src: url("/fonts/gramatika_bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves Pro DemiBold";
  src: url("/chemin/vers/TT_Hoves_Pro_DemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "TT Hoves Pro Medium";
  src: url("/chemin/vers/TT_Hoves_Pro_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "TT Hoves Pro Regular";
  src: url("/chemin/vers/TT_Hoves_Pro_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "October";
  src: url("/fonts/october.otf") format("otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Gramatika";
  /* background: radial-gradient(at right top, #0d0021, #200052 80%, #200052); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  margin: 0;
  background-color: #0d0021;
}

.first-box,
.second-box,
.third-box,
.fourth-box {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
}

.first-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(at right bottom, #0d0021, #200052 80%, #200052);
}

.second-box {
  display: flex;
  align-items: center;
  background: radial-gradient(at right top, #0d0021, #200052 80%, #200052);
}

.third-box {
  display: flex;
  align-items: center;
  background: radial-gradient(at right bottom, #0d0021, #200052 80%, #200052);
}
.fourth-box {
  background: radial-gradient(at right top, #0d0021, #200052 80%, #200052);
}

.square {
  background-color: green;
}

.square2 {
  width: 150px;
  height: 150px;
  background-color: rebeccapurple;
}

.description,
.subtitle {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 5%;
}

.subtitle {
  color: rgba(255, 255, 255, 0.95);
  font-size: 72px;
  line-height: 50px;
  margin-bottom: 0px;
}

.description {
  color: rgba(255, 255, 255, 0.85);
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 5%;
}

.description-bis,
.subtitle-bis {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 5%;
  text-align: end;
}

.subtitle-bis {
  color: rgba(255, 255, 255, 0.95);
  font-size: 72px;
  line-height: 50px;
  margin-bottom: 15px;
}

.description-bis {
  color: rgba(255, 255, 255, 0.75);
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mid-width {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.description-last,
.subtitle-last {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.subtitle-last {
  color: rgba(255, 255, 255, 0.95);
  font-size: 72px;
  line-height: 50px;
  margin-bottom: 15px;
  margin-top: 300px;
  margin-right: 0px;
}

.description-last {
  color: rgba(255, 255, 255, 0.75);
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-animated {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 80px;
  z-index: 1000;
  opacity: 0;
}

.opacity-element {
  transform: translateY(10px);
  opacity: 0;
  transition: all 0.5s;
}

.char {
  /* -translate-y-[115px] transition-all duration-500 */
  transform: translateY(115px);
  transition: transform opacity 0.5s;
  z-index: 1000;
}

.tiltcard {
  /* width: 370px;
  height: 520px; */
  margin: 0 20px;
  border-radius: 14px;
  /* border: 1px solid rgba(255, 255, 255, 0.08); */
}

.moving-right {
  transform: translateX(100%) scaleX(-100%);
}

.parallax-effect-glare-scale {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 358px;
  height: 487px;
  transform-style: preserve-3d;
  box-shadow: 19px 17px 30px 3px rgba(0, 0, 0, 0.3);
  /* background: url("/backgrounds/gradient-dark.png"); */
  background-color: #381c64;
  background-size: cover;
  background-position: right;
}
.inner-element {
  transform: translateZ(60px);
}

.title {
  opacity: 1;
}

.parallax-effect-glare-scale:nth-child(4) {
  transform: translateX(-50%);
}

.parallax-effect-glare-scale:nth-child(2) {
  transform: translateY(50%);
}

.parallax-effect-glare-scale:nth-child(3) {
  transform: translateX(50%);
}

/* .slide-title {
  transform: translateX(-100%);
} */

.home-section {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-section:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

.home-section img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.home-section img#moon {
  mix-blend-mode: screen;
}

.home-section img#mountains_front {
  z-index: 10;
}

.shadowText {
  text-shadow: #000 1px 0 10px;
}
